<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ynzhxf.nd.xyfirecontrolapp">
    <!-- 允许网络通信 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 读写文件的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 设置手机震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Required -->
    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" /> <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!--
<uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    -->
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".tool.ApplicationPlatform"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.basenode.cannon.SmlVideoListActivity">

        </activity>
        <activity android:name=".view.basenode.cannon.SmlVideoPlayActivity" />
        <activity android:name=".view.basenode.cannon.SmlSystemListActivity" />
        <activity android:name=".view.basenode.cannon.MoreCannonControlActivity" />
        <activity android:name=".view.basenode.cannon.SmartPowerActivity" />
        <activity android:name=".view.basenode.cannon.SmartPowerListActivity" />
        <activity android:name=".view.basenode.cannon.WaterCannonActivity" />
        <activity
            android:name=".view.basenode.cannon.WaterCannonListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".view.enterprise.RegDeviceCodeActivity" />
        <activity
            android:name=".view.NFCReadActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <!-- <intent-filter> -->
            <!-- <action android:name="android.nfc.action.TECH_DISCOVERED" /> -->
            <!-- </intent-filter> -->

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <!--
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        -->
        <activity
            android:name=".view.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>
        <activity android:name=".view.LoginActivity" />
        <activity
            android:name=".view.compentent.CompetentMainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.basenode.ProjectInfoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".view.SystemInfoActivity" />
        <activity android:name=".view.compentent.CompententAreaActivity" />
        <activity android:name=".view.compentent.CompententSearchProjectActivity" />
        <activity android:name=".view.compentent.CompententAreaCoutryActivity" />
        <activity android:name=".view.basenode.ProjectVideoListActivity" />
        <activity android:name=".view.basenode.VideoPlayActivity" />
        <activity
            android:name=".view.basenode.ProjectSystemListActivity"
            android:label="@string/title_activity_project_system_list" />
        <activity android:name=".view.basenode.EquipmentLabelActivity" />
        <activity android:name=".view.basenode.LabelInfoRecordActivity" />
        <activity android:name=".view.basenode.FireAlarmHostActivity" />
        <activity android:name=".view.basenode.FireAlarmHostBuildActivity" />
        <activity android:name=".view.basenode.FireAlarmPointListActivity" />
        <activity android:name=".view.basenode.ProjectRealAlarmActivity" />
        <activity android:name=".view.basenode.ProjectHistoryAlarmActivity" />
        <activity android:name=".view.NewsListActivity" />
        <activity android:name=".view.NewsInfoActivity" />
        <activity android:name=".view.UserPwdChangeActivity" />
        <activity
            android:name=".view.enterprise.EnterpriseMainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.message.AlarmMessageListActivity"
            android:launchMode="singleTask" />
        <activity android:name=".view.basenode.MaintenanceManageActivity" />
        <activity
            android:name=".view.message.AlarmMessageInfoActivity"
            android:label="@string/title_activity_alarm_message_info" />
        <activity android:name=".view.enterprise.owner.OwnerFinishOrderActivity" />
        <activity
            android:name=".view.enterprise.owner.OwnerAuditOrderActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.enterprise.owner.OwnerCreateOrderActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.enterprise.owner.OwnerWorkOrderDetailsActivity"
            android:launchMode="singleTop" />
        <activity android:name=".view.enterprise.owner.OwnerMyWorkOrderActivity" />
        <activity android:name=".view.enterprise.owner.OwnerOrderOverDetailsActivity" />
        <activity android:name=".view.basenode.MaintenanceCompanyActivity" />
        <activity android:name=".view.enterprise.company.CompanyConfirmOrderActivity" />
        <activity android:name=".view.enterprise.company.CompanyHandOverOrderActivity" />
        <activity
            android:name=".view.enterprise.company.CompanyBackFillActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".view.enterprise.company.CompanyQrCodeActivity" />
        <activity android:name=".view.enterprise.company.CompanyQrCodeMaintainActivity" />
        <activity android:name=".view.BaseActivity" />
        <activity android:name=".view.enterprise.company.CompanySearchProjectActivity" />
        <activity android:name=".view.basenode.MaintenanceChargeActivity" />
        <activity android:name=".view.enterprise.company.CompanySearchForHomeActivity" />
        <activity android:name=".view.basenode.CompanyProjectInfoActivity" />
        <activity android:name=".view.basenode.ChargeProjectInfoActivity" />
        <activity android:name=".view.enterprise.FileShareHomeActivity" />
        <activity
            android:name=".view.enterprise.FileShareMyFileActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".view.enterprise.owner.FileShareEditSaveActivity" />
        <activity android:name=".view.enterprise.file.FileShareCreateFileActivity" />
        <activity android:name=".view.enterprise.file.FileShareShowDetailActivity" />
        <activity android:name=".view.enterprise.file.FileShareWeFileActivity" />
        <activity android:name=".view.enterprise.file.FileShareProgressUpdateActivity" />
        <activity android:name=".view.enterprise.file.OperationalPlansActivity" />
        <activity
            android:name=".view.enterprise.file.FileTypeListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".view.enterprise.file.FileTypeEditorActivity" />
        <activity android:name=".view.enterprise.file.FileShareSearchProjectActivity" />
        <activity android:name=".view.enterprise.file.OperationalPlanDetail" />
        <activity android:name=".view.enterprise.owner.HistoryAlarmCreateOrderActivity" />
        <activity android:name=".view.enterprise.inspection.InspectionTaskHomeActivity" />
        <activity
            android:name=".view.enterprise.inspection.InspectionItemListActivity"
            android:launchMode="singleTask" />
        <activity android:name=".view.enterprise.inspection.InspectionTypeCreateTaskActivity" />
        <activity android:name=".view.enterprise.inspection.InspectionResponsiblePersonActivity" />
        <activity android:name=".view.enterprise.inspection.InspectionRecordsActivity" />
        <activity android:name=".view.enterprise.inspection.InspectionQrCodeActivity" />
        <activity android:name=".view.enterprise.inspection.InspectionResultSaveActivity" />
        <activity android:name=".view.enterprise.inspection.InspectionAssignedTasksActivity" />
        <activity android:name=".view.enterprise.inspection.InspectionSetPersonActivity" />
        <activity android:name=".view.enterprise.inspection.InspectionSettingActivity" />
        <activity android:name=".view.enterprise.inspection.InspectionSettingGetUserListActivity" />
        <activity android:name=".view.basenode.FireAlarmHistoryInfoActivity" />
        <activity android:name=".view.basenode.ProjectStatisticsActivity" />
        <activity android:name=".view.basenode.ProjectStatisticsDetailsActivity" />
        <activity android:name=".view.enterprise.inspection.company.InspectionHomeCompanyActivity" />
        <activity android:name=".view.enterprise.inspection.company.InspectionCompanyCreateTaskActivity" />
        <activity android:name=".view.enterprise.inspection.company.InspectionCompanySettingActivity" />
        <activity android:name=".view.enterprise.inspection.company.InspectionCompanySettingGetUserActivity" />
        <activity android:name=".view.enterprise.inspection.company.InspectionCompanySystemListActivity" />
        <activity android:name=".view.enterprise.inspection.company.InspectionCompanyItemListActivity" />
        <activity
            android:name=".view.enterprise.inspection.company.InspectionCompanyItemActivity"
            android:launchMode="singleTask" />
        <activity android:name=".view.enterprise.inspection.company.InspectionCompanyResultSaveActivity" />
        <activity android:name=".view.basenode.ProjectStatisticsListErrorInfo" />
        <activity android:name=".view.basenode.ProjectInfoMessageDataActivity" />
        <activity android:name=".view.basenode.ProjectStatisticsDetailsErrorActivity" />
        <activity android:name=".view.basenode.ProjectStatisticsLegendInfoActivity" />
        <activity android:name=".view.basenode.FireAlarmProbeInfoActivity" />
        <activity android:name=".view.enterprise.statement.StatisticsStatementActivity" />
        <activity android:name=".view.enterprise.statement.StatementSearchActivity" />
        <activity android:name=".view.basenode.ProjectRealAlarmDetailActivity" />
        <activity android:name=".view.basenode.VideoPhotoSelectActivity" />
        <activity android:name=".view.enterprise.company.CompanyHangUpActivity" />
        <activity android:name=".view.enterprise.inspection.company.InspectionCompanyForOwnerHomeActivity" />
        <activity
            android:name=".view.basenode.DumplingsVideoPlayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity android:name=".view.enterprise.diagnose.DeviceDiagnoseHomeActivity" />
        <activity android:name=".view.enterprise.diagnose.DeviceDiagnoseDetailsActivity" />
        <activity android:name=".view.enterprise.diagnose.DeviceDiagnoseHomeFinishActivity" />
        <activity android:name=".view.enterprise.assessment.RiskAssessmentHomeActivity" />
        <activity android:name=".view.enterprise.assessment.RiskAssessmentStateTypeActivity" />
        <activity android:name=".view.enterprise.assessment.RiskAssessmentFloorListActivity" />
        <activity android:name=".view.basenode.charge.ChargeIndexPageSelectedActivity" />
        <activity android:name=".view.basenode.company.CompanyTwoPageActivity" />
        <activity
            android:name=".view.basenode.PLVideoTextureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".view.basenode.PLVideoTextureHomeActivity" />
        <activity android:name=".view.enterprise.OverviewMessageActivity" />
        <activity android:name=".view.enterprise.charge.ChargeCurrentAlarmActivity" />
        <activity android:name=".view.enterprise.charge.ChargeChartsHistoryActivity" />
        <activity android:name=".view.enterprise.charge.ChargeChartsProjectActivity" />
        <activity android:name=".view.enterprise.charge.ChargeChartsProjectDetailsActivity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="skCmLUk3iUZxU4BFZ2TYAUfLDGbFlinz" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <receiver
            android:name=".tool.MyReceiver"
            android:enabled="true"
            android:exported="false"
            tools:node="replace">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${JPUSH_PKGNAME}" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- Jpush Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity> <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service> <!-- since 3.0.9 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="${applicationId}.DataProvider"
            android:exported="false"
            android:process=":pushcore" /> <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </service> <!-- since 3.1.0 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="${applicationId}.DownloadProvider"
            android:exported="true" /> <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="${JPUSH_PKGNAME}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver> <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />
    </application>

</manifest>